<script type="module" locals>
    module.exports = {
        images: [

            [
                'tab-triangle', 
                'CR-Bundesarchiv_B_145_Bild-F011327-0025_Koblenz_Deutsches_Eck.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-triangle', 
                'IMG_0605.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-triangle', 
                'IMG_0576.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-triangle', 
                'CR-Koblenz_Deutsches_Eck.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-triangle', 
                'CR-Koblenz_im_Buga-Jahr_2011_Deutsches_Eck.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'grid-item-width-2 tab-triangle', 
                'CR-Rhein-i-Flammen.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-triangle', 
                'IMG_0592.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-statue', 
                'IMG_0584.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-statue', 
                'IMG_0596.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-statue', 
                'CR-Bundesarchiv_Bild_146-1970-088-52_Koblenz_zerstoertes_Reiterstandbild_Kaiser_Wilhelms_I.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-statue', 
                'CR-Denkmal_am_Deutschen_Eck_Koblenz.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-statue', 
                'CR-Deutsches_Eck_LOC.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-statue', 
                'CR-Deutsches_Eck_Reiterstandbild.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-statue', 
                'CR-Kaiser_W_1_Koblenz.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-shields', 
                'L-Baden-Wuettenberg.jpg', 
                '600',
                '750',
                ''
            ],
            [
                'tab-shields', 
                'L-Bayern.jpg', 
                '600',
                '750',
                ''
            ],
            [
                'tab-shields', 
                'L-Berlin.jpg', 
                '600',
                '750',
                ''
            ],
            [
                'tab-shields', 
                'L-Branddenburg-Pommern-Mecklenburg.jpg', 
                '1320',
                '600',
                ''
            ],
            [
                'tab-shields', 
                'L-Bremen.jpg', 
                '600',
                '750',
                ''
            ],
            [
                'tab-shields', 
                'L-Hamburg.jpg', 
                '600',
                '750',
                ''
            ],
            [
                'tab-shields', 
                'L-Hessen.jpg', 
                '600',
                '750',
                ''
            ],
            [
                'grid-item-width-2 tab-shields', 
                'IMG_0582.jpg', 
                '1320',
                '880',
                ''
            ],
            [
                'tab-shields', 
                'L-Niedersachsen.jpg', 
                '600',
                '750',
                ''
            ],
            [
                'tab-shields', 
                'L-Nordrhein-Westfalen.jpg', 
                '600',
                '750',
                ''
            ],
            [
                'tab-shields', 
                'L-Rheinland-Pfalz.jpg', 
                '600',
                '750',
                ''
            ],
            [
                'tab-shields', 
                'L-Rheinland-Pfalz.jpg', 
                '600',
                '750',
                ''
            ],
            [
                'tab-shields', 
                'L-Tueringen.jpg', 
                '600',
                '750',
                ''
            ],
            [
                'tab-wall', 
                'IMG_0536.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-wall', 
                'CR-Denkmal_fuer_die_Berliner_Mauer_1961-1989.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-wall', 
                'IMG_0541.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-wall', 
                'IMG_0543.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-wall', 
                'IMG_0545.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-wall', 
                'IMG_0551.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-wall', 
                'IMG_0554.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-wall', 
                'IMG_0563.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-inscriptions', 
                'DBPB_1953_110_17_Juni.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-inscriptions', 
                'IMG_0558.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'grid-item-width-2 tab-inscriptions', 
                'IMG_0533.jpg', 
                '1320',
                '880',
                ''
            ],
            [
                'tab-inscriptions', 
                'CR-Mauerdenkmal_1961-1989.jpg', 
                '600',
                '600',
                ''
            ],
            [
                'tab-inscriptions', 
                'IMG_0538.jpg', 
                '600',
                '600',
                ''
            ]
        ]
    }
</script>

<each loop="img in images">

    <div class="grid-item {{ img[0] }}" data-category="image">
        <a data-fslightbox="image-{{ img[0] }}" href="./assets/images/gallery/{{ img[1] }}">
            <picture>
                <source type="image/avif" srcset="./assets/images/gallery/thumb-{{ img[1] }}?as=avif">
                <source type="image/webp" srcset="./assets/images/gallery/thumb-{{ img[1] }}?as=webp">
                <source type="image/jpg" srcset="./assets/images/gallery/thumb-{{ img[1] }}">
    
                <img src="./assets/images/gallery/thumb-{{ img[1] }}" alt="{{ item[2] }}" class="js-set-aspect-ratio" width="{{ item[3] }}" height="{{ item[4] }}" loading="lazy">
            </picture>
        </a>
    </div>

</each>