<script type="module" locals>
    module.exports = {
        content: [

            [
                'grid-item-width-2 tab-statue', 
                'Evolución de la estatua ecuestre', 
                'En 1871 se erigió una estatua ecuestre del Kaiser Guillermo I en el <i lang="de">Deutsches Eck</i>, un promontorio elevado artificialmente en la desembocadura del Mosela en el Rin, como monumento a la fundación del Imperio Alemán. Muy dañado en la Segunda Guerra Mundial, el pedestal sirvió de monumento a la unidad alemana de 1953 a 1990.'
            ],
            [
                'grid-item-width-2 tab-shields', 
                'La reprentación de los Estados Alemanes', 
                'El 18 de mayo de 1953, el pedestal que quedaba del Monumento al Káiser se convirtió en un monumento a la unidad alemana. Para demostrar esta unidad, se colocaron en el pedestal los escudos de todos los estados alemanes. Con la reunificación de Alemania el 3 de octubre de 1990, la hilera de escudos se completó con los nombres de los cinco nuevos estados federales.'
            ],
            [
                'grid-item-width-2 tab-wall', 
                'Simbología del conjunto', 
                'En junio de 1990, tres segmentos del Muro de Berlín fueron erigidos junto al monumento, entregados por el todavía Primer Ministro de la RDA, <i lang="de">Lothar de Maizière</i>. Las placas de bronce asociadas conmemoran a las víctimas de la división desde el 17 de junio de 1953 hasta el 9 de noviembre de 1989.'
            ],
            [
                'tab-wall', 
                '', 
                'Hoy, estos tres elementos de hormigón del Muro de Berlín conmemoran la unidad alemana. Según la placa de bronce, están dedicados a las víctimas de la división y se erigieron en 1990 a la derecha del monumento, a orillas del Mosela.'
            ],
            [
                'grid-item-width-2 tab-triangle', 
                'Objetivo de reunificación', 
                'El Monumento al Kaiser Wilhelm en el <i lang="de">Deutsches Eck</i> era un monumento conmemorativo a la unidad alemana que debía recuperarse durante la Guerra Fría. Así lo ponían de manifiesto las banderas de los estados federados y los escudos de los países situados detrás del Muro, en el este, que aún se consideraban parte de Alemania. La reunificación era el objetivo político expresado aquí. Entre otras cosas, esto se expresaba también por la ausencia de la estatua ecuestre. Después de 1990, esta declaración del <i lang="de">Deutsches Eck</i> pasó a un segundo plano, porque la unidad se había logrado sobre la base de la revolución pacífica en la RDA. La conclusión lógica tras la nueva colocación de la estatua ecuestre era expresar la unidad completada en las inmediaciones del <i lang="de">Deutsches Eck</i>, donde durante tanto tiempo se había expresado este objetivo.'
            ],
            [
                'tab-inscriptions', 
                'Qué son, qué dicen', 
                'Se trata de tres trozos originales del antiguo Muro de Berlín con la inscripción: <br> A las víctimas de la división (<i lang="de">Den Opfern der Teilung</i>) <br> 17 de junio de 1953 (<i lang="de">17. Juni 1953</i>) <br> 9 de noviembre de 1989 (<i lang="de">9. November 1989</i>)'
            ],
            [
                'grid-item-width-2 tab-inscriptions', 
                'A las víctimas de la división', 
                'La sección histórica pretende informar sobre los orígenes y el carácter inhumano de las fortificaciones fronterizas del interior de Alemania y sus víctimas. La atención no se centrará en las "muertes en el Muro" en sentido estricto, sino también en aquellas personas que desaparecieron tras los muros de las prisiones durante años tras fugas infructuosas, cuyos hijos fueron llevados a hogares o dados en adopción. También se mencionará a quienes tuvieron que sufrir años de represalias tras solicitar la salida del país.'
            ],
            [
                'grid-item-width-2 tab-inscriptions', 
                '17 de junio de 1953', 
                'A partir de información básica sobre el 17 de junio de 1953, este libro informa sobre la resistencia en la RDA contra la dictadura del SED. La resistencia también incluyó manifestaciones del "Círculo Blanco" (<i lang="de">„Weißen Kreises“/i>) en Jena, que hizo campaña pública por el derecho a abandonar el país y sufrió una represión inhumana por hacerlo.'
            ],
            [
                'grid-item-width-2 tab-inscriptions', 
                '9 de noviembre de 1989', 
                'A lo largo de la historia del Bloque del Este hubo protestas y resistencia, algunas de las cuales acabaron fatalmente. Merece la pena recordar, por ejemplo, la resistencia temprana del "Círculo de Eisenberg" o la oposición en Jena desde los años setenta, que en los ochenta se convirtieron en redes de activistas por los derechos civiles que abarcaban toda la RDA. En otoño de 1989, la resistencia culminó en protestas públicas que fueron mucho más allá de Leipzig. Sin esta protesta pública generalizada, la caída del Muro difícilmente se habría producido de esta manera.'
            ]
        ]
    }
</script>

<!--  array content: [0: class, 1: title, 2: text] -->

<each loop="item in content">

    <div class="grid-item {{ item[0] }}" data-category="text">
        <div>
            <if condition=" item[1] != '' ">
                <h2>{{ item[1] }}</h2>
                <p>{{{ item[2] }}}</p>
            </if>
            
            <else>
                <p>{{{ item[2] }}}</p>
            </else>
        </div>
    </div>

</each>

