
<script type="module" locals>
    module.exports = {
        icons: [

            ['tab-triangle', 'fa-shapes'],
            ['tab-statue', 'fa-chess-knight'],
            ['tab-shields', 'fa-puzzle-piece'],
            ['tab-wall', 'fa-lines-leaning'],
            ['tab-inscriptions', 'fa-link']
        ]
    }
</script>

<!--  array icons: [0: class, 1: icon] -->

<each loop="icon in icons">
    <div class="grid-item grid-item-width-2 {{ icon[0] }}" data-category="icon"><i class="fa-solid {{ icon[1] }}"></i></div>
</each>

