/* podkova-regular - latin */
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Podkova/podkova-v26-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Podkova/podkova-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Podkova/podkova-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Podkova/podkova-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Podkova/podkova-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Podkova/podkova-v26-latin-regular.svg#Podkova') format('svg'); /* Legacy iOS */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
  
/* podkova-500 - latin */
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Podkova/podkova-v26-latin-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Podkova/podkova-v26-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Podkova/podkova-v26-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Podkova/podkova-v26-latin-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Podkova/podkova-v26-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Podkova/podkova-v26-latin-500.svg#Podkova') format('svg'); /* Legacy iOS */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
  
/* podkova-600 - latin */
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Podkova/podkova-v26-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Podkova/podkova-v26-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Podkova/podkova-v26-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Podkova/podkova-v26-latin-600.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Podkova/podkova-v26-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Podkova/podkova-v26-latin-600.svg#Podkova') format('svg'); /* Legacy iOS */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
  
/* podkova-700 - latin */
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Podkova/podkova-v26-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Podkova/podkova-v26-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Podkova/podkova-v26-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Podkova/podkova-v26-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Podkova/podkova-v26-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Podkova/podkova-v26-latin-700.svg#Podkova') format('svg'); /* Legacy iOS */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
  
/* podkova-800 - latin */
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Podkova/podkova-v26-latin-800.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Podkova/podkova-v26-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Podkova/podkova-v26-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Podkova/podkova-v26-latin-800.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Podkova/podkova-v26-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Podkova/podkova-v26-latin-800.svg#Podkova') format('svg'); /* Legacy iOS */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* Futura - latin */
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Futura-Book/futura-book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Futura-Book/futura-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Futura-Book/futura-book.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Futura-Book/futura-book.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Futura-Book/futura-book.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
  