@use "sass:color";

$font-family-sans-serif: "Futura", sans-serif;
$font-family-serif: "Podkova", serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;
